.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    padding: 15px 30px;
    height: 53px;
    font-size: 18px;
    border-radius: 22px;
    border: 2px solid var(--color-text);
    background: transparent;
    color: var(--color-text);
    transition: transform 0.2s ease-out;

    &:focus,
    &:active {
      outline: none;
    }

    &:active {
      transform: translate(5px, 3px);
    }
    &:hover {
      --color-text: var(--color-black);
    }
  }
}
